# Synopsis

In this unit we will learn that:

1. "Simple" variables in Python can belong to one of three data types: Boolean variables, numbers, or strings:

    1. Boolean variables are True and False and can be acted upon with logical operator (and, not, or, ...).
    
    2. Numbers can be integers (1, 2, ...) or floats (1.2, 0.333333, ...) and can be acted upon with mathematical operators (+. -. *, /, %%, ...)
    
    3. Strings are sequences of characters ('a', 'aaa', 'no', ...) that can be acted upon with string operators (+, *, ...)  
    
2. Python data types can be acted upon with functions. We will cover the following functions

    1. `print()`, `type()`
    
    2. Several functions that act upon string variables such as `reverse()`, `sort()`, `strip()`, and so on

# Computer programs operate on data 

A computer program is a set of statements (i.e., intructions) to accomplish one or more of the following: read, create, calculate, transform, organize, and store data.

In order to operate on data, a computer program must have a way to store and retrieve it. This goal is achieved through the use of variables. If you think of data as pieces of paper where you wrote something, then a variable is a folder to which you afix a sticker with a name and where you may store one or more pieces of paper.

Python has basically only three rules about naming variables:

* names you define must start with a letter (a-z,A-Z) or underscore (_) and can be followed by any number of letters, digits (0-9), or underscores


* names you define cannot be the same as any of Python's reserved words (see handout)


* names are case-sensitive: 'YOU', 'you', 'You', and 'yOu' are all different names in Python


Note that '-', '+', '*', and '/' are used by Python for defining operations on data and cannot be used in names. 

Note also that that the characters '@', '$' and '?' are not used in Python syntax.

## Different data, different variable types

Data come in many formats. It can be a number, a piece of text, an image.  In order to write readable, efficient code it is important to create variables that match the nature of the data.

For simple data types, Python figures out what data type is best when you create a new variable. An important thing to keep in mind when naming variables is that it's up to you to name them well. There are a number of different data types in Python, but there's no distinction as to how you must name them. This means that it is up to you to give good, descriptive names to your variables.

### Why is that important?

The point of descriptive variable names is to improve readability and understanding of code for both yourself and others. While you may believe that you will never re-use a piece of code, or that if you do you will remember what you were doing, the truth is that you won't. **Good naming practices make all the difference.**

## Creating variables

One creates a variable by assigning a value to it:

In [0]:
a_number = 2
a_word = 'dog'

Now we have created `a_number` as the **variable** and assigned `2` as its **value**. As a hint, the construction

*variable* = *value*

holds across most programming languages. Now at any time we can use our variable `a_number` again, or just look at its value. 

We can look at the content of a variable using the `print()` function.

In [0]:
print( a_number )

2

We can also determine the data type that Python assigned the variables

In [0]:
type( a_number )

int

In [0]:
type( a_word )

str

Once a variable is created, we can perform operations on it:

In [0]:
a_number * 2

4

But only those operations which are appropriate to the data type

In [0]:
a_word + a_number

TypeError: ignored

As its name suggest, a variable can have its associated value **changed**.

In [0]:
print(a_number)
a_number = 5
print(a_number)

2
5


## Basic data types

Python has eight built-in data types. Four of those are quite simple, in the sense that they can **store a single value**:

* Integers
* Floats
* Booleans
* Strings


The other four are denoted **collections** because they can **store arbitrary numbers of values**. Python's four collection data types are:

* Lists
* Tuples
* Sets
* Dictionaries

Now, let's start with one of the most basic data types, the integer.

## Integers

An Python integer is what in Math is called a **natural number**. They are the numbers you count.

Python allows you to do basic arithmetic with integers whether you define variables or not. Those operation are represented using the same notation you saw on a calculator.

In [0]:
2 + 2

4

In [0]:
4 - 2

2

In [0]:
2 * 2

4

In [0]:
2 / 2

1

We can also store the result of an operation into a variable. The variable will store the evaluated answer, not the arithmetic expression.

In [0]:
first_result = 8 / 3
print(first_result)

2.6666666666666665

We see that the division operator stores the answer that we are used to, which is $2.6\bar{6}$. This behavior for the division operator is actually new in Python 3! Before in Python 2 when we would do the operation 

`first_result = 8 / 3`

We would get the result:

`print( first_result ) ==> 2`

This was because it was thought that if we divide one integer by another integer, the operation should also return an integer in order to keep all the variable types the same. 

To access this form of truncating division (it's called truncating division, because it just truncates all the numbers after the decimal) we actually use `//` like this:

In [0]:
second_result = 8 // 3
second_result

2

What if we want to get the remainder? The symbol is:

In [0]:
5 % 2

1

It even works with a decimal remainder:

In [0]:
4.2 % 2

0.20000000000000018

## Floats

A Python float is what in Math is called a **rational number**. While floats are meant to replicate on the computer **real numbers** the fact is that one can only use a limited amount of storage to keep a number so it is impossible to store an **irrational number** such as **pi**.

In [0]:
new_float = 4.0
print(new_float)

4.0

So what if we want to change an integer to a float or vice versa???

All we have to do is cast the number using the data type name that we want to transform it to. We can see this below:

In [0]:
int(4.8)

4

In [0]:
float(2)

2.0

But an important thing to know is that if we cast a variable, it won't actually stay that way unless we assign it to a new a variable!

In [0]:
basic_int = 2
print( float(basic_int) )
print( type(basic_int) )

2.0
<class 'int'>

In [0]:
float_basic_int = float(basic_int)
print( type(float_basic_int) )

<class 'float'>

If you're ever confused or interested about what the type of a variable is you can always just check it with the function `type`

In [0]:
type(new_float)

NameError: ignored

In [0]:
type(2)

int

Now something that you should notice here is that `float` and `int` are colored green (as are `print` and `type`). That's because these are words in Python that are already defined by the language. 

**Python will let you overwrite them**. However, you should wait until you are a programming god to do it (or just don't do it. ever. either way). 

If you ever accidentally do it, like so:

In [0]:
int = 4
print("What have we done to int?", int)
int(5.0)

What have we done to int? 4

TypeError: ignored

you'll lose the int function. However, you can get it back if you just delete the undesired assignment.

In [0]:
del int
int(5.0)

5

### Order of operations

Python respects the typical order of operations when it evaluates expressions (PEMDAS - Parentheses, Exponents, Multiplication, Division, Addition, Subtraction).

To access the exponentiation operation, you use the `**` symbol.

In [0]:
2 ** 3

8

In [0]:
eqn1 = 2 * 3 - 2
print( eqn1 )

4

In [0]:
eqn2 = -2 + 2 * 3
print( eqn2 )

4

In [0]:
eqn3 = -2 + (2 % 3)
print( eqn3 )

0

In [0]:
eqn4 = (.3 + 5) // 2
print(eqn4)

2.0

## Comparing numbers

As important as being able to calculate something, is to be able to compare the result of several computations.  

Most of the symbols used for comparison are quite standard and just what you would expect.  The exceptions are the symbols for 'different' and 'equal to'.

!=
==

<=
>=
<
>

The $==$ allows us to check if one side of the operator is equal to the other side.

In [0]:
4 == 4

True

In [0]:
4 == 5

False

Python evaluates the expression and tells us that it is `True` if it is correct or `False` if it is incorrect.

The $!=$ operator allows us to check if one side does not equal the other side:

In [0]:
4 != 2

True

In [0]:
4 != 4

False

The greater than, less than, greater than or equal to, and less than or equal to operators all work as we would expect.

In [0]:
4 > 2

True

In [0]:
4 > 4

False

In [0]:
4 >= 4

True

## Booleans

A Python Boolean is what is math is called a **logical variable**. The name Boolean refers to **George Boole** who first defined an algebraic system of logic in the mid 19th century. The Boolean data type is primarily associated with conditional statements, which allow different actions and change control flow depending on whether a programmer-specified Boolean condition evaluates to `True` or `False`.

With just these two variable values we can implement basic logic and check for truth in a programming language. Let's say that I have one puppy at home and his name is Frankenstein. I will say that the variable puppy is True.

In [0]:
puppy = True

In [0]:
print(puppy)

True

In [0]:
type(puppy)

bool

We can see that when we print `puppy` it says `True` and that the type is `bool`. 

Since I only have one puppy, I'm going to say that `puppies` is `False`.

In [0]:
puppies = False

In Python we could have just created both of those variables at the same time, as we've done below. It's important that the number of variables on the left-hand side equals the number of variables on the right-hand side:

In [0]:
puppy, puppies = True, False

We'll see here that each of those variables has its own value.

In [0]:
print("Do I have a puppy?", puppy)
print("Do I have puppies?", puppies)

Do I have a puppy? True
Do I have puppies? False

To implement logic we have three basic operations: `and`, `not`, and `or`.

These can be used to create the most basic statements. Here's how they work.

If I use the `and` operator, then both sides of the `and` expression need to be True for the expression to be true.

In [0]:
True and True

True

If one side of the expression is `False`, then the whole expression will be `False`

In [0]:
True and False

False

As you would expect, we can perform these expressions with variables (remember that I only have one puppy).

In [0]:
puppy and puppies

False

The `not` operator expects that the following value should be `False` for the expression to be true. If the following value is `True` or exists then it will say that the expression is `False`

In [0]:
not puppies

True

In [0]:
not puppy

False

We can combine this with the `and` operator to make our entire previous statement about my pets `True`

In [0]:
puppy and not puppies

True

Finally, the `or` operator only requires that **at least one** side of the expression is `True` for the expression to be `True`

In [0]:
puppy or puppies

True

But, we still need at least one side to be `True` !

In [0]:
False or False

False

## Strings

A Python string is an **ordered sequence of characters**. Python strings are very powerful and enable us to deal with text even if there is a lot of it and even if we don't know its structure.

To start off let's make some variables.

In [0]:
hello = 'hello'

print( hello )

hello

It's important to remember that the variable's name does not need to be the same as its value.

In [0]:
falafel = 'gyro'

print( falafel )

gyro

You can use basic math operators to add strings together and make a longer string.

In [0]:
print("gyros" + " and " + "falafel")

gyros and falafel

You can even just multiply a string to make it longer. Can you say `gyros` seven times fast?

In [0]:
"gyros " * 7

'gyros gyros gyros gyros gyros gyros gyros '

Python can!

However, you can only use mathematical operations that are unambiguous. Since it is unclear what dividing or subtracting strings should entail, those operations have not been built-in.

You can define your own interpretation of those operations, though!

In [0]:
"gyros"/"falafel"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [0]:
"gyros" - "falafel"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

We can add strings and variables that have string values together to create a longer string, then assign that longer string to a variable.

In [0]:
order = hello + ', I would like a ' + falafel

print(order)

hello, I would like a gyro

Hmmm, well it is correct as a sentence but we forgot to capitalize `hello`! 

Keep in mind that after a lifetime of reading it is a lot easier for us to see and recognize correct strings than it is to tell the computer to recognize them. 

Fortunately, string variables have some **built-in methods** that we use on the variables to help with these situations.

In [0]:
order.capitalize()

'Hello, i would like a gyro'

BAM! 

By using the capitalize() method on the order variable, you got the capitalized `hello`. 

An important thing to note, though, is that while that cell printed the string with `Hello`, **it didn't actually change the variable**.

In [0]:
order

'hello, I would like a gyro'

If you want to change the value of `order` variable to the capitalized version, you need to re-assign the variable:

In [0]:
order = order.capitalize()

order

'Hello, i would like a gyro'

There are three other functions that perform actions like `capitalize()`, and those are:

* `lower()`, makes the entire string lowercase
* `upper()`, makes the entire string uppercase
* `title()`, capitalizes every word in a string

In [0]:
order.title()

'Hello, I Would Like A Gyro'

But you'll notice that I screwed up a little bit by setting `order` to the capitalized version of itself (the grammar nazis reading along have probably been going crazy all this time!). When we capitalized the string, we lost the capitalized `i`! Python is pretty smart, but it only does exactly what we tell it to do and the `capitalize()` function only capitalizes the first letter in a string.

The simplest remedy would be to go back and recreate the order variable.

In [0]:
order = hello.capitalize() + ', I would like a ' + falafel

order

'Hello, I would like a gyro'

We could do this programmatically by using some of the other built-in functions.

One way would be to `strip` away the `Hello,` at the start. Python has a `strip` method that strips away characters from the right side as well as `lstrip` which strips away characters starting from the left.

In [0]:
order.lstrip('Helo,')

' I would like a gyro'

Notice that I didn't need to put in `l` twice? That's because I just put in all of the individual characters I want stripped and Python goes and removes **any and all** instances of those characters until it encounters a character that I did not tell it to strip. We can test that by adding an `I` as the next character that we see, but not the space which comes before it.

In [0]:
order.lstrip('Helo,I')

' I would like a gyro'

Same result! This is a handy way of thinking, we just want to strip away the parts we don't want until we get to what we do want.

We can also check the contents of a string using built-in methods. For example, we can make sure that all of the characters are alphabetical.

In [0]:
hello.isalpha()

True

This is handy because we can have numbers that are a string

In [0]:
real_number = int('4')

print( real_number )
print( type(real_number) )

4
<type 'int'>

We can do the same thing for floats, too.

In [0]:
float('4.2') * 2

8.4

However, we cannot do that with anything that has alphabetical characters.

In [0]:
float('I would like 4.5 gyros')

ValueError: could not convert string to float: I would like 4.5 gyros

### Strings are actually collections!

Strings are collections of characters.  Because they are collections, you are able to access its elements individually or in groups. 

Accessing a single element of the string is called **indexing**. 

**To index a single element, you add `[ ]` after the variable name** and tell it the numerical index of the element you want to access.

In [0]:
falafel

'gyro'

In [0]:
falafel[1]

'y'

Huh? I said that I wanted the first element but Python returned `y` which is the second character in the `falafel` variable. 

Why is that???

In Python, like in many other programming languages, all sequences are **zero-indexed**. That means the numerical index for the first element is actually `0`

In [0]:
falafel[0]

'g'

The counting after that position is normal. So if want the letter `r` which is the **third** letter in the word `gyro`, then the index will be **`2`**

In [0]:
falafel[2]

'r'

For longer strings it is hard to figure out the index of the final elements. To circumvent that difficult, Python allows you to access elements by counting from the end of the string too.

When counting from the end, you use negative indicies. A way to figure this out is to see a string a written on a ring where the last element comes just before the first element.  So, if the first element has index 0, the one before must have index **`-1`**.

In [0]:
falafel[-1]

'o'

From the end, the counting works just the same as from the start

In [0]:
falafel[-2]

'r'


Something to be aware of, though, is that if you try to access an element **it must exist**. That means that since `gyro` is four characters long, you cannot try to access the element with index `4`.

In [0]:
falafel[4]

IndexError: string index out of range

### Slicing a string

What if we wanted to get out more than one element from a string? We can do that too, it's called slicing.

The syntax for slicing is deceptively simple, the full syntax is:

`variable[start_index : stop_index : step]`

You'll see that all of the inputs go within the `[]` and the `:` separates each input. 

The `start_index` tells python which index we want to start getting elements from.

The `stop_index` tells python which index we want elements **up to but not including**

The `step` tells python how many steps to take between elements within the range. This means that you don't need to take every element. You could take **every other** element. To do that you just specify a `step` of `2`.

In [0]:
falafel = "gryo"
falafel

'falafel burger is awesome'

If we wanted to access the `gy` part from `gyros`, you write:

In [0]:
falafel[0 : 2 : 1]

'flflbre '

Remember that the index of `2` means the third element, so we specified that we wanted every letter from the first index **up until** the third index, and we want every letter.

We could get every other letter from the first four letters like so:

In [0]:
falafel[0 : 4 : 2]

'gr'

Because some types of slicing are used more frequently than others, Python assumes that if you leave an option empty that you are making the default selection. The defaults for slicing are:

* `start_index` is set to `0`
* `stop_index` is set to `-1` (notice that this will always be the last character no matter how long the string is)
* `step` is set to  `1`

In [0]:
falafel[0 : 2]

'gy'

In [0]:
falafel[: 2]

'gy'

In [0]:
falafel[: 4 : 2]

'gr'

We can mix and match positive and negative indices like so:

In [0]:
falafel[ : -1 : 2]

'gr'

One difference from accessing a single element is that we can specify a `stop_index` that is greater than the length of the string. Python will just give us all of the possible characters that exist within the constraint.

In [0]:
falafel[: 10]

'gyro'

In most situations this is poor practice and you should just omit the `stop_index` so that it returns all of the characters.

In [0]:
falafel[:]

'gyro'

Note that the `start_index` always has to come before the `stop_index`, otherwise we will get an empty string:

In [0]:
falafel[3 : 1]

''

That's because there is no valid sequence moving from left to right that exists within those limits.

If we want it to return the slice but reversed, we actually control that with the `step` input and tell it that we want the reverse slice.

In [0]:
falafel[3 : 1 : -1]

'or'

# Exercises

Use five mathematical operators (`+ - * / **`) to produce the number `4`

Convert the output of one of those expressions to a `float`

I have a string called pet_shop that has all of the different pet varieties in a store.

In [0]:
pet_shop = 'dog cat hedgehog fish bird'

Capitalize all of the different pet types in a single line

Print out a single `g` from `pet_shop`

Print out just `hedgehog`

Print out `gohegdeh`

I have two variables, dogs and cats:

In [0]:
dogs, cats = '8', '4'

that tell me how many `dogs` and `cats` I have at the store. Using these two variables, calculate how many more dogs I have than cats

Exercises completed!