# Synopsis

In this unit we will learn about three of the four collection data types in Python.

1. **Lists** are ordered sequences of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list.  

    1. Lists are created using the `[]` syntax.
    
    2. Lists can include mixed data types.
    
    4. List elements are accessed by index.
    
    3. Lists are **mutable**. You can add, remove, and replace values using functions such as `append()`, `extend()`, `insert()`, `pop()`, `remove()`, and `del`. 
    
2. **Tuples** are similar to lists except for the very important fact that they are **immutable**.

3. **Sets** are unordered collections of elements.

    1. Sets are created using the `{}` syntax.
    
    2. Sets can included mixed data types.
    
    3. Set elements are accessed by key (name).
    
    4. Elements in a set cannot be repeated.
    
    5. Sets are are **mutable**. You can add and remove values using functions such as `add()` and `discard()`.

+++

# Collection Data Types

Python has four collection data types:

* Lists
* Tuples
* Sets
* Dictionaries

These data types allow for a greater number of operations because they can hold multiple elements.  In order to ease into deadling with collections, we will first recall some properties of another collection data type: strings.

In [0]:
introduction = "Well, I thought that, maybe, you know, like, possibly?"

Now this introduction has a little lyrical flourish if you will, it has a large number of pauses as indicated by the commas. What if you wanted to get rid of those pesky commas?

You learned earlier that the `strip()` function can remove characters from the beginning or from the end of a string. Unfortunately, the commas are in the middle of the introduction so, `strip()` will not work.  

There is, however, another function that we can use to split apart a `string`. It is aptly labelled the `split()` function.

In [0]:
print( type( introduction ) )
new_variable = introduction.split(',')
print( new_variable )
print( type( new_variable ) )

<class 'str'>
['Well', ' I thought that', ' maybe', ' you know', ' like', ' possibly?']
<class 'list'>

`introduction` is a string. Check.

`new_variable` is **not** a string. It is a list! 

Unlike the `strip()` function, the `split()` function returns a list. Each element in the list contains a string with the set of characters found between consecutive occurrences of the character used to break the original string.

We can tell that it's a list because it has multiple elements and it starts and ends with the brackets. The bracket symbol (`[]`) is used to denote a list.

## Lists

A list is an ordered sequence of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list. We create a list by using the `[]` syntax.

Let's go back to our obsession with pets, and imagine we own a pet store that carries a number of different species of pets.

In [0]:
pets = ['dogs', 'cats', 'fish']
print( pets )
print( pets[0] )
print (pets[1] )

['dogs', 'cats', 'fish']
dogs
cats

Notice that the list printed the elements in the same order in which they were created. Unlike strings, **lists are mutable**. Thus, we can change them. 

If we want to add an element to the list, we `append()` the new element to the list.

In [0]:
pets.append('hedgehog')
pets

['dogs', 'cats', 'fish', 'hedgehog']

What if we want to add several new elements?

In [0]:
pets.append(['parrot', 'iguana'])
pets

['dogs', 'cats', 'fish', 'hedgehog', ['parrot', 'iguana']]

This is not what I had in mind, I wanted to add 'parrot' and 'iguana', not the list `['parrot', 'iguana']`. If we want to add multiple additional values, we can either append them one by one, or we can `extend()` our list `pets` with the list of additional pets that our pet shop carries.

In [0]:
pets.remove(['parrot', 'iguana'])
pets.extend(['parrot', 'iguana'])

pets

['dogs', 'cats', 'fish', 'hedgehog', 'parrot', 'iguana']

We can also add two lists together.

In [0]:
pets + ['chameleon', 'hamster']

pets

['dogs', 'cats', 'fish', 'hedgehog', 'parrot', 'iguana']

But notice that the addition symbol doesn't change the value of `pets`. If we want to add to the list variable, we just set it equal to itself and the new list.

In [0]:
pets = pets + ['chameleon', 'hamster']
pets

['dogs',
 'cats',
 'fish',
 'hedgehog',
 'parrot',
 'iguana',
 'chameleon',
 'hamster']

And just like strings, we can use both of the additive math operators. I'll use a small number here so as not to flood the screen, but we can multiply the list too.

In [0]:
print( pets * 2 )

['dogs', 'cats', 'fish', 'hedgehog', 'parrot', 'iguana', 'chameleon', 'hamster', 'dogs', 'cats', 'fish', 'hedgehog', 'parrot', 'iguana', 'chameleon', 'hamster']

As for strings, subtraction and division are not implemented for lists.  The reason is that it is not clear what subtracting two lists should produce.

In [0]:
pets - ['hamster']

TypeError: ignored

### Indexing and Slicing

Since a list comprises multiple elements, just as a string comprises multiple chracters, it is helpfuul to be able to access a single element by its index or to access a section of the list using slicing. To access an element by its index we use the syntax: `variable[index]`.

As for strings, you cannot attempt to access an index that has not been defined.  In order to avoid that kind of mistake it is useful to keep track of the number of elements in a list.  You can obtain this number using the built-in function `len()`:

In [0]:
print( pets[1] )
print( len(pets) )
print( pets[len(pets)-1] )
print( pets[9] )

cats
8
hamster

IndexError: ignored

In order to obtain a access a section of a list, we use the slicing syntax  `variable[start_index : stop_index : step]`

In [0]:
pets[1 : 3]

['chameleon', 'dogs']


Because lists are mutable, we can not only add and remove elements, we can also change the value of the elements. Let's say that we stopped selling cats because everyone just looks at them on the internet and now we carry sea monkeys. We could delete `cats` and append `sea monkeys` or we could just replace `cats` in the list with `sea monkeys`.

In [0]:
pets[1] = 'sea monkeys'
pets

['dogs',
 'sea monkeys',
 'fish',
 'hedgehog',
 'parrot',
 'iguana',
 'chameleon',
 'hamster']

Sometimes, we know that a certain value is included in a list but do not know its index in the list. If we want to find out the index of a given value, we use the built-in function `index()`.

In [0]:
pets.index('fish')

2

### Adding and removing elements from a list

Python provides several methods for changing the contents of a list.  We will first look at `insert()` and `pop()`.

In [0]:
pets.insert(5, 'leopard')
pets

['dogs',
 'sea monkeys',
 'fish',
 'hedgehog',
 'parrot',
 'leopard',
 'iguana',
 'chameleon',
 'hamster']

Wait, it is illegal to have leopards as pets. Better take it out from our list.

In [0]:
illegal_pet = pets.pop(5)
print( illegal_pet )
print( pets )

leopard
['dogs', 'sea monkeys', 'fish', 'hedgehog', 'parrot', 'iguana', 'chameleon', 'hamster']

Notice how popping an element, returns its value.  A limitation of `pop()` is that we must know the index of the value we want to remove. If we do not have that knowledge, then we can use the function `remove()`:

In [0]:
pets.insert(2, 'hamster')
print( pets )

['dogs', 'fish', 'hamster', 'hedgehog', 'iguana', 'parrot', 'sea monkeys']

In [0]:
removed_pet = pets.remove('hamster')
print( removed_pet )

None

In [0]:
 print( pets )

['dogs', 'fish', 'hedgehog', 'iguana', 'parrot', 'sea monkeys']

Notice how the function `remove()` does not return anything. This makes sense since we already know the value we are removing.

Notice also that `remove()` will only remove the **first** instance of the value in a list. If there is more than one entry then you would need to use remove again.

If you try to remove a value and it doesn't exist then Python will return an error and stop execution of the code.

In [0]:
pets.remove('hamster')
pets

ValueError: ignored

Another way to remove elements from a list is with the command `del`. However, `del` is a sort of nuclear option. If we do not provide an an index though it will delete the **entire** variable from memory! **Be careful when you use `del`**.

In [0]:
del pets[-1]
pets

['dogs', 'sea monkeys', 'fish', 'hedgehog', 'parrot', 'iguana']

### Ordering lists

Lists have other built-in methods too besides the maintenance functions of adding and deleting elements. For example, you can reverse a list:

In [0]:
print('Initial pets', pets)
pets.reverse()
print('Reversed pets', pets)

Initial pets ['dogs', 'sea monkeys', 'fish', 'hedgehog', 'parrot', 'iguana']
Reversed pets ['iguana', 'parrot', 'hedgehog', 'fish', 'sea monkeys', 'dogs']

The elements in a list can also be sorted.  If the elements are numbers that the standard ordering of numbers is used. If the elements are string, then alphanumeric ordering is used.

In [0]:
print('Initial pets', pets)
pets.sort()
print('Sorted pets', pets)

Initial pets ['iguana', 'parrot', 'hedgehog', 'fish', 'sea monkeys', 'dogs']
Sorted pets ['dogs', 'fish', 'hedgehog', 'iguana', 'parrot', 'sea monkeys']

Notice that the methods `sort()` and `reverse()` act on the variable directly.  If you want to keep the original variable unchanged, you must use the built-in functions  `sorted()` and `reversed()`.

In [0]:
print( type(reversed(pets)) )
print( reversed(pets) )

<class 'list_reverseiterator'>
<list_reverseiterator object at 0x7f6fc202f9e8>

The output of the function `reversed()` is not a list. It is what Python calls an `iterator`, this is just a rule for generating values from some input. The advantage of `iterators` is that they require less memory and may be faster???

However, if we want to have a human readable printout, we need to cast the iterator as a list.

In [0]:
print( "Reversing the list", list( reversed(pets) ) )

print( "The original list", pets )

Reversing the list ['sea monkeys', 'parrot', 'iguana', 'hedgehog', 'fish', 'dogs']
The original list ['dogs', 'fish', 'hedgehog', 'iguana', 'parrot', 'sea monkeys']

## Tuples

On the surface, tuples appear similar to `list`:

* Both Tuples and Lists contain a sequence of individual elements
* Both Tuples and Lists are stored in the order that they were added
* Both Tuples and Lists can store mixed data types
* We access individual elements with the syntax `variable[index]`

So what is the difference? 

The big difference is that tuples are an **immutable** data type (like strings). This means that none of the functions that are built-in to modify variables can be applied to tuples.

In order to indicate this **crucial** difference between lists and tuples, Python uses a different syntax to create a tuple.
The syntax for creating a `list` uses `[]`. The syntax to create a `tuple` uses `()`.

In [0]:
# Create a tuple that stores the attributes of our golden retriever, `penny`.

penny = (60, 75, 'yellow') #Length (in), Weight (lbs), Color 
print( type(penny) )
penny

<class 'tuple'>

(60, 75, 'yellow')

Notice that since it isn't necessarily clear what each of the individual elements stood for in the tuple, I added a comment listing the meaning of each field. As we discussed earlier, comments are signaled in Python by the symbol `#` Whatever you type in a line after the `#` will be ignored by the Python interpreter.

Because tuples are immutable element assignment does not work.

In [0]:
penny[-1] = 'amber'

TypeError: ignored

In [0]:
del penny[1]

TypeError: ignored

and neither does element removal.  However, We can still perform the additive operators with tuples though

In [0]:
penny + ('amber', 'stinky') #Eye color, breath smell
print( penny )

penny2 = penny + ('amber', 'stinky')
print( penny2 )

(60, 75, 'yellow')
(60, 75, 'yellow', 'amber', 'stinky')

The reason is that when we add something to a tuple we are not changing the tuple, we are creating a new tuple. Notice that if we do not copy the new tuple into a new variable, then it is lost ot us.

Another subtlety with tuples is that they require a non-obvious syntax when they have a single element.  Specifically, a tuple with a single element must be written as using the syntax `(value, )`. Without the comma, the Python interpreter would decide that we are using the `()` in the context of a mathematical operation.

In [0]:
penny + ('amber', )

(60, 75, 'yellow', 'amber')

### So wait, why are there both lists and tuples? 

I know, right now it's pretty hard to see why you would use one data type over the other. 

Remember that Python was developed with the ideal of being readable and understandable. That means that when you are writing code, you want to make choices that make it easy for others to understand what is going on. For example, if you have a some variable that contains values that are never going to change, then why would you use a mutable data type such as a list to store it?  

Think of the days of the week or the months of the year: Does it make more sense to define

`days_of_the_week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")`

or 

`days_of_the_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]`?

By using a tuple to store some data, you are signaling to a reader of your code, that the values you stored are not going to change during the execution of your code.

## Sets

A Python set is an unordered collection that prevents the repetition of values from occurring.  To create a `set` we use the syntax `{}`. 

Why do we need sets? Imagine, for example, that you want to store the names of your friends; you will want to use a list since you might have several friends named Mary.  However, if you are storing the city in which your friends live, you do not want the same city repeated several times. If you want to find out cities to visit where you have friends you only need the city name in there once.

Let us see this in play with our pet store.  We want to keep track of what pet species we have.

In [0]:
pet_species = {'bulldog', 'hamster', 'parrot'}
pet_species

{'bulldog', 'hamster', 'parrot'}

The way to add an element to a set is using the function `add()`. However, if we try to add an element that already exists in the set, that element will just be ignored.

In [0]:
pet_species.add('crocodile')
print( pet_species )
pet_species.add('crocodile')
print( pet_species )

{'crocodile', 'bulldog', 'hamster', 'parrot'}
{'crocodile', 'bulldog', 'hamster', 'parrot'}

Sets are also **mutable**, like a `list`. However, they don't use the same built-in functions. To add an item, you use the built-in function `add()`. T remove an element, you use the built-in function `discard()`.  Notice, however, that **sets cannot be added or multiplied**.

In [0]:
pet_species.add('gerbil')
print( pet_species )
pet_species.discard('crocodile')
print( pet_species )

{'bulldog', 'gerbil', 'crocodile', 'hamster', 'parrot'}
{'bulldog', 'gerbil', 'hamster', 'parrot'}

### Other set operations

Another class of operations that can be performed on sets are `intersection`, `union`, and `difference`. These operations are identical to their homonymous functions in the mathematics of sets.

In [0]:
store_one = {'bulldog', 'parrot', 'hamster', 'fish'}
store_two = {'fish', 'parrot', 'terrier', 'cat'}

print( store_one.intersection(store_two) )

print( store_one.union(store_two) )

print( store_one.difference(store_two) )  # A - B = A - (A intersection B)

print( store_two.difference(store_one) )

{'fish', 'parrot'}
{'bulldog', 'fish', 'terrier', 'hamster', 'parrot', 'cat'}
{'bulldog', 'hamster'}
{'terrier', 'cat'}

Note that while `intersection` and `union` are symmetrical -- for example, `A.union(B) = B.union(A)` -- the same is not true for `difference`.

# Changing types across sets, lists, and tuples

Since `sets`, `lists`, and `tuples` are all collections of elements, Python allows us to easily convert variables from one type to another as needed. You just need to cast the variable.

In [0]:
list_store_one = list( store_one )
print( list_store_one )
print( type(list_store_one) )

['fish', 'bulldog', 'hamster', 'parrot']
<class 'list'>

In [0]:
tuple_store_one = tuple( store_one )
print( tuple_store_one )
print( type(tuple_store_one) )

('fish', 'bulldog', 'hamster', 'parrot')
<class 'tuple'>

In [0]:
reset_store_one = set(tuple_store_one)
print( reset_store_one )
print( type(reset_store_one) )

{'fish', 'bulldog', 'hamster', 'parrot'}
<class 'set'>

# Nesting

So far, most of the elements that we have added to our collections have been `string`, `float`, or `integer` data types. However, the elements of a collections can be collections themselves. Indeed, we can include any data type inside a `tuple` or a `list` or even a `set`.  This process is called **nesting** and it is a bit like Russian dolls.

<img width='400' style="float:center" src='../Data/www/images/nesting_dolls.jpg')></img>

Let's see nesting at play.  Going back to our pet store, assume that our costumers are picky and care about the breed of the dog they want to buy.

In [0]:
print( pets )
pets.pop(1)   # Get rid of dogs
dog_breeds = ['bulldog', 'terrier', 'greyhound']
pets.append(dog_breeds)  # append list of dog breeds available
pets

['dogs', 'fish', 'hedgehog', 'iguana', 'parrot', 'sea monkeys']

['dogs',
 'hedgehog',
 'iguana',
 'parrot',
 'sea monkeys',
 ['bulldog', 'terrier', 'greyhound']]

We see that the last position of the list `pets` is now occupied by the list of dog breeds. That means that we can access the usual way.

In [0]:
pets[-1]

['bulldog', 'terrier', 'greyhound']

How can we now access a specific dog breed? 

The dog breeds are in a list, so we are able to access any element in that list using an index. We just need to know the name of the list. The name is, of course, `pets[-1]`.

In [0]:
pets[-1][0]

'bulldog'

The parenteses in the command above are unnecessary.  We can just write `pets[-1][0]`. Thus, to access elements in nested lists, we just need to keep adding `[]` in order to navigated deeper and deeper into the nested collection of lists. When Python navigates through your list variable it will always read the indices from left to right, with the leftmost `[]` being the topmost `list`.

<img src='../Data/www/images/nesting.png'></img>

Also, we can change the values inside our nested lists just like at our topmost `list` and use all of our normal `list` functions that we used before.

In [0]:
pets[-1][0] = 'golden retriever'
pets

['dogs',
 'hedgehog',
 'iguana',
 'parrot',
 'sea monkeys',
 ['golden retriever', 'terrier', 'greyhound']]

In [0]:
pets[-1].append('pug')
pets

['dogs',
 'hedgehog',
 'iguana',
 'parrot',
 'sea monkeys',
 ['golden retriever', 'terrier', 'greyhound', 'pug']]

### The subtleties of copying nested structures

Imagine that we open a second pet store, and that initially we will be having the same inventory as in the first store.  As all programmers worth their name, we want to minimize the amount of work we do. Thus, we would never add the names to the list one by one.  We just want to copy the list with the inventory from the first store.

In [0]:
store_one = pets
store_two = store_one
print( store_one )
print( store_two )

['dogs', 'hedgehog', 'iguana', 'parrot', 'sea monkeys', ['golden retriever', 'terrier', 'greyhound', 'pug']]
['dogs', 'hedgehog', 'iguana', 'parrot', 'sea monkeys', ['golden retriever', 'terrier', 'greyhound', 'pug']]

Business is going well at store one. We sold the `pug`, and acquired a `cat` and a `gerbil`:

In [0]:
store_one[-1].remove('pug')
store_one.extend(['cat', 'gerbil'])

In [0]:
print( store_one )
print( store_two )

['dogs', 'hedgehog', 'iguana', 'parrot', 'sea monkeys', ['golden retriever', 'terrier', 'greyhound'], 'cat', 'gerbil']
['dogs', 'hedgehog', 'iguana', 'parrot', 'sea monkeys', ['golden retriever', 'terrier', 'greyhound'], 'cat', 'gerbil']

**Both inventories were changed!** 

The reason is that the statement

`store_two = store_one`

did not copy the values in the collection labelled by `store_one` to a new place in memory labelled by `store_two`. It just made the name `store_two` point to the same position in memory as `store_one`. 

If you actually want to copy the values in the collection labelled by `store_one` to a new place in memory, then you have to use one of the built-in functions `copy()` and `deepcopy()`. 

Notice that there are important differences between the two functions. `copy()` does not make copies of nested stuctures. That is, if you a using `copy()` on a list that contains other lists, the other lists are not being copied to a different location in memory.

**Every distribution of Python includes these two functions, but unlike other built-in functions, we have to import them before we can use them!**

In [0]:
from copy import copy

store_one = ['beagle', 'terrier', 'bulldog', 'fish']
store_two = copy(store_one)
store_one.remove('beagle')
store_one.extend(['parrot', 'gerbil'])

print('Store One', store_one)
print('Store Two', store_two)

Store One ['terrier', 'bulldog', 'fish', 'parrot', 'gerbil']
Store Two ['beagle', 'terrier', 'bulldog', 'fish']

For now, do not worry about the meanig of the `from ... import ...` command. Just be aware of the subtleties when copying collections, especially nested collections since you may not be doing what you intended to do. Accidentally setting one variable name equal to another without noticint it is a way for logical errors to creep into your programs. **Always be careful! Always test your code!**

# Exercises

You are now the manager of the pet store! I'm going to need you to manage the inventory of pets that we have at the store.

In [0]:
pet_store = ['beagle', 'parrot', 'iguana', 'gerbil', 'chameleon', 'fish']

We've sold out of `chameleon` and `iguana`, you need to remove them from the inventory. Use both `remove()` and `del` to do so.

We just got in a `terrier`, `chameleon`, `bulldog`, and another `terrier`. Please add all of those animals to the `pet_store`.

Now, how many **unique** animal types do we currently have in the store?

How many `terrier` dogs do we have in the store? (Hint: the `list` data type has a built-in function called `count()`)

As an owner, I actually have a very bad obsessive-compulsive disorder. Could you please reverse-alphabetically sort the pet types at the store? Thanks so much! Also going to need you to work this entire weekend. For free.

Could you print from `beagle` to `fish` but display it in alphabetical order?

What is the index of `parrot`?